body {
    background-color: black;
}

.headerContainer { 
    background-color: white;
    list-style-type: none;
    padding: 2em;

}

#app ul {
    width: 60%;
    margin: 0;
    padding-left: 2em;
    background-color: black;
}

#app img {
    width: 70%;
}

.container {
    align-items: center;
    float: left;
    padding: 2px;
    margin-top: 10%;
    padding-left: 2em;
}

.remove-prof:hover {
    transform: scale(1.05);
    background-color: white;
}

.prof-button-modifier {
    text-decoration: none;
}

.show-bio {
    display: block !important;
    float: right;
    color: white;
    font-family: $titleFont;
    width: 30%;
    margin-right: 20%;
    margin-top: 5%;
}

.bio-data {
    display: none;
}


h1 {
    color: white;
    font-family: $titleFont;
    text-align: center;
}
